body {
    background-image: linear-gradient(90deg, black, rgb(53, 52, 52));
    color: antiquewhite;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Tektur', cursive;

}

header,
footer {
    font-family: 'Press Start 2P', cursive;

}

img {
    width: 300px;
}

